<form action='/login' method='post'>
    <div class="form-group">
        <label for="login">Login</label> 
        <input type="text" class="form-control" name="username" id="login-username" placeholder="Username">
        <input type="password" class="form-control" name="password" id="login-password" placeholder="Password">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>
<form action="/register" method="post">
    <div class="form-group">
        <label for="register">Register</label>
        <input type="text" class="form-control" name="username" id="register-username" placeholder="New Username">
        <input type="password" class="form-control" name="password" id="register-password" placeholder="New Password">
        <button type="submit" class="btn btn-success">Register</button>
    </div>
</form>